<div class="navbar">

  <% if controller_name == "sites" && action_name == "index"%>
    <%= link_to sites_path do %>
      <span id='btn-retour'>
        <i class="fa-solid fa-backward"></i>
      </span>
    <% end %>

  <% elsif controller_name == "sites" && action_name == "show"%>
    <%= link_to sites_path do %>
      <span id='btn-retour'>
        <i class="fa-solid fa-backward"></i>
      </span>
    <% end %>

  <% elsif controller_name == "pages" && action_name == "show"%>
    <%= link_to site_path(@site.id) do %>
    <span id='btn-retour'>
      <i class="fa-solid fa-backward"></i>
    </span>
    <% end %>
  <% end %>

<%# fin btn retour %>
  <% if action_name != "new" %>
    <%= link_to site_new_path do  %>
      <span id="ajouter-un-site">
          <i class="fa-solid fa-plus"></i>
      </span>
    <% end %>
  <% end %>
  <%#  quand navbar es sur la show des pages %>
  <% if controller_name == "pages" && action_name == "show" %>
      <div class="container-infos">

          <h1 id="title-page"> <%=@page.url %><h1>

        <div id="print-screen">
          <i class="fa-solid fa-print"></i>
        </div>

      </div>
  <% end %>

  <%# quand navbar es sur la show site %>
  <% if controller_name == "sites" && action_name == "show" %>
    <H1 id="h1-siteshow"><%= @site.url %></H1>

    <%= link_to crawl_path(@site.id) do %>
      <div class="btn-crawl">
        <i class="fa-solid fa-sitemap"></i>
      </div>
    <% end %>

    <%= link_to sitemap_path(@site.id) do %>
      <div class="btn-sitemap">
        <i class="fa-solid fa-sitemap"> sitemap</i>
      </div>
    <% end %>
  <% end %>

</div>
