
<div class="container-site-pages">
  <% @site.pages.each do |page| %>

      <div class="container-pages-url" id=page-<%= page.id %>>

      <%# partie nombre d'erreur de la page %>
          <% if page.seoerrors.count >= 1 || page.hxerrors.count >= 1 %>
        <span id=nombre-derreur>
            <strong> cette page contient <%= page.seoerrors.count + page.hxerrors.count %> erreurs </strong>
        </span>
          <% end %>

        <%# partie lien de la page afficher %>
        <div class='url-du-site'>
            <%= page.url %>
        </div>
          <%# partie du button pour aller sur la page %>
        <%= link_to page_path(page.id) do %>
            <div class='btn-voir'>
              <i class="fa-solid fa-eye"></i>
            </div>
        <% end %>

    </div>
  <% end %>
</div>

<%= @site.pages.count %>

<%= link_to site_destroy_path(@site.id), method: :delete, data: {confirm: "tu es sure ? "} do %>
  <div class="destroy-site">
    <%= "destroy" %>
  </div>
<% end %>
